body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #28213C;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    display: flex;
    height: 100vh;
}

.img-ing {
    flex: 1;
    height: 100%;
    overflow: hidden;
    border-right: 3px solid #FF3131;
}

.img-ing img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.nav-button {
    position: absolute; 
    top: 15%; 
    right: 28%; 
    background-color: #FF3131;
    color: white;
    border: none;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 20px;
}

a{
    text-decoration: none;
}
.nav-button:hover {
    background-color: #cc2424;
}

.ingreso {
    min-width: 300px;
    box-sizing: border-box;
    padding: 10px 50px 40px;
    margin-right: 70px;
    margin-left: 70px;
    margin-top:70px;
    border: 3px solid #FF3131;
    border-radius: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 500px;
}


.logo {
    position: absolute; 
    top: 15px; 
    left: 80.5%; 
    transform: translateX(-50%); 
    width: 135px;
    border-radius: 50%;
    border: 3px solid #FF3131;
    background-color: white; 
}

form {
    margin-top: 20px;
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}
.centrado {
    text-align: center; 
}


.user,
.contraseña {
    margin: 12.5px 10px; 
    width: calc(100% - 20px); 
    height: 55px;
    padding: 15px; 
    border: none; 
    border-radius: 5px;
    background-color: #f0f0f0; 
    font-size: 16px; 
    transition: box-shadow 0.1s; 
}

.user:focus,
.contraseña:focus {
    outline: none; 
    box-shadow: 0 0 5px #FF3131; 
    transition-delay: 0.1s; 
}


.button-ingresar {
    background-color: #FF3131;
    color: white;
    border: none;
    width: 100px;
    height: 50px; 
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px; 
    margin-bottom: 10px;
}


.button-ingresar:hover {
    background-color: #cc2424;
}

.registrate {
    margin-top: 10px;
    text-align: center;
}

.link-reg {
    color: #FF3131;
}