body,
html {
    margin: 0;
    padding: 0;
    color: #28213C;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden; 
    overflow-y: hidden;
    background-image: url('Img/RegistroBack.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: 120%;
    animation: reducirImagen 0.5s ease-out forwards; 
}
@keyframes reducirImagen {
    0% {
        background-size: 120%; 
    }
    100% {
        background-size: 100%; 
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.registro {
    min-width: 225px;
    box-sizing: border-box;
    align-items: end;
    position: relative;
    padding: 25px;
    margin: 75px 125px 50px 125px;
    background-color: #fcfdfd;
    border: 3px solid #FF3131;
    border-radius: 25px;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 125px;
    border-radius: 50%;
    border: 3px solid #FF3131;
    height: auto;
    margin-left: 30px;
    position: absolute;
    top: -70px;
    left: 47.5%;
    transform: translateX(-50%);
}

.form-reg {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 25px 50px; 
    justify-content: center; 
    width: 100%;
    max-width: 1000px; 
    margin: 40px auto; 
}

.nombre,
.apellido,
.user,
.correo,
.contraseña,
.nacimiento {
    width: 100%;
    height: 55px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    font-size: 16px;
    transition: box-shadow 0.1s;
}

.button-registro {
    grid-column: span 2;
    background-color: #FF3131;
    color: #fcfdfd;
    font-size: 15px;
    border: none;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
    margin-bottom: -10px;
    max-width: 150px; 
    justify-self: center; 
}


.centrado {
    margin-top: 40px;
    text-align: center;
    font-size: 22px;
}


.nombre:focus,
.apellido:focus,
.user:focus,
.correo:focus,
.contraseña:focus,
.nacimiento:focus {
    outline: none;
    box-shadow: 0 0 5px #FF3131;
    transition-delay: 0.1s;
}

a {
    text-decoration: none;
}

.nav-button:hover {
    background-color: #cc2424;
}

.nav-button {
    position: absolute;
    top: 8%;
    right: 90%;
    background-color: #FF3131;
    color: #fcfdfd;
    border: none;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 20px;
}


.button-registro:hover {
    background-color: #cc2424;
}